@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap");
@font-face {
  font-family: "karnak";
  src: url("../assets/karnak.ttf");
}

:root {
  --green: #538d4e;
  --yellow: #b59f3b;
  --dark: #121213;
  --darkGrey: #3a3a3c;
}

.karnak {
  font-family: "karnak";
}
body {
  text-align: center;
  font-size: 1em;
  font-family: verdana;
  margin: 0;
  background-color: var(--dark);
  font-family: "Libre Franklin", sans-serif;
}
h1 {
  font-size: 2.2em;
  padding: 10px 0;
  border-bottom: 1px solid var(--darkGrey);
  margin: 0 0 30px 0;
  color: #fff;
}
/* rows */
.row {
  text-align: center;
  display: flex;
  justify-content: center;
}
.row > div {
  display: block;
  width: 60px;
  height: 60px;
  border: 2px solid var(--darkGrey);
  margin: 2px;
  text-align: center;
  line-height: 60px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2em;
  color: #fff;
}
.row > div.green {
  --background: #538d4e;
  --border-color: #538d4e;
  animation: flip 0.5s ease forwards;
}
.row > div.grey {
  --background: #3a3a3c;
  --border-color: #3a3a3c;
  animation: flip 0.6s ease forwards;
}
.row > div.yellow {
  --background: #b59f3b;
  --border-color: #b59f3b;
  animation: flip 0.5s ease forwards;
}
.row > div:nth-child(2) {
  animation-delay: 0.4s;
}
.row > div:nth-child(3) {
  animation-delay: 0.6s;
}
.row > div:nth-child(4) {
  animation-delay: 0.8s;
}
.row > div:nth-child(5) {
  animation-delay: 1s;
}
.row.current > div.filled {
  animation: bounce 0.1s ease-in-out forwards;
}
.keypad {
  margin: 20px auto;
}
.keypad-button{
  margin: 3px;
  width: 43px;
  height: 58px;
  background: #818384;
  display: inline-block;
  border-radius: 6px;
  line-height: 60px;
  font-size: 20px;
  font-weight: 700;
  color: #fff;
}
.keypad-special{
  margin: 3px;
  width: 110px;
  height: 58px;
  background: #818384;
  display: inline-block;
  border-radius: 6px;
  line-height: 60px;
  font-size: 20px;
  font-weight: 700;
  color: #fff;
}

.keypad > div > div.green {
  background: #538d4e;
  color: #fff;
  transition: all 0.3s ease-in;
}
.keypad > div > div.yellow {
  background: #b59f3b;
  color: #fff;
  transition: all 0.3s ease-in;
}
.keypad > div > div.grey {
  background: #3a3a3c;
  color: #fff;
  transition: all 0.3s ease-in;
}
.modal {
  position: fixed;
  width: 100%;
  /* height: 100%; */
  top: 0;
  left: 0;
}
.modal div {
  max-width: 80px;
  background: #fff;
  padding: 10px;
  border-radius: 10px;
  margin: 70px auto;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}
.modal .solution {
  color: #ff004c;
  font-weight: bold;
  font-size: 0.8em;
  text-transform: uppercase;
  letter-spacing: 1px;
}

/* keyframe animations */
@keyframes flip {
  0% {
    transform: rotateX(0);
    background: #333;
    border-color: #333;
  }
  45% {
    transform: rotateX(90deg);
    background: 333;
    border-color: #333;
  }
  55% {
    transform: rotateX(90deg);
    background: var(--background);
    border-color: var(--border-color);
  }
  100% {
    transform: rotateX(0deg);
    background: var(--background);
    border-color: var(--border-color);
    color: #eee;
  }
}

@keyframes bounce {
  0% {
    transform: scale(1);
    border-color: #444;
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
    border-color: #565758;
  }
}
